APP_PORT=3100

POSTGRES_DB=gauss_skills_hub
POSTGRES_USER=gauss
POSTGRES_PASSWORD=change-this-db-password

ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-this-admin-password

AUTH_SECRET=change-this-to-at-least-32-characters
